<!DOCTYPE html>

<html>

<head>

  <meta charset="UTF-8">

  <title>Ionic Starter Side Menu</title>

    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />

</head>

<body>

  <html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Side Menu Starter Template</title>

    <link href="http://code.ionicframework.com/0.9.23/css/ionic.css" rel="stylesheet">
    <script src="http://code.ionicframework.com/0.9.23/js/ionic.js"></script>
    <script src="http://code.ionicframework.com/0.9.23/js/angular/angular.min.js"></script>
    <script src="http://code.ionicframework.com/0.9.23/js/angular/angular-animate.min.js"></script>
    <script src="http://code.ionicframework.com/0.9.23/js/angular/angular-sanitize.min.js"></script>
    <script src="http://code.ionicframework.com/0.9.23/js/angular-ui/angular-ui-router.min.js"></script>
    <script src="http://code.ionicframework.com/0.9.23/js/ionic-angular.js"></script>
  </head>

  <body ng-controller="MenuCtrl">
    <side-menus>
      <pane side-menu-content>
        <!-- Contained left-right scroll with history nav -->
        <nav-bar type="bar-positive"
                   back-button-type="button-icon"
                   back-button-icon="ion-ios7-arrow-back"></nav-bar>
         <nav-view name="menuContent"
                   animation="slide-left-right"
         ></nav-view>
      </pane>
      <side-menu side="left">
        <header class="bar bar-header bar-dark">
          <h1 class="title">Left Menu</h1>
        </header>
         <content has-header="true">
          <ul class="list">
            <a class="item" href="#/page1" ng-click="openLeft()">
              Page 1
            </a>
            <a class="item" href="#/page2" ng-click="openLeft()">
              Page 2
            </a>
            <a class="item" href="#/page3" ng-click="openLeft()">
              Page 3
            </a>
            <a class="item" href="#/page4" ng-click="openLeft()">
              Page 4
            </a>
            <a class="item" href="#/page5" ng-click="openLeft()">
              Page 5
            </a>
            <a class="item" href="#/page6" ng-click="openLeft()">
              Page 6
            </a>
            <a class="item" href="#/page7" ng-click="openLeft()">
              Page 7
            </a>
           </ul>
        </content>
      </side-menu>
    </side-menus>

  </body>
</html>

<script src="js/app.js"></script>

</body>

</html>