      <view title="'Page1'">
         <content has-header="true" padding="true">
        <div class="card">
          <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </div>
        <div class="item item-text"> 
            This is some sample text for a card.
             </div>
        </div> 
<button class="button button-full button-positive">
  Login
</button>
<button class="button button-full button-positive">
  Signup
</button>
          Page 1 <a href="#/page2">Link</a>
        </content>
      </view>